/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    font-family: 'GT Walsheim', Helvetica, Arial, sans-serif;
    font-size: 11px;
    margin: 0;
    color: #333;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    letter-spacing: 0.5px;
    background-color: #f9fbfb !important;
}
.list-content{
    width: 100%;
    position: relative;
    background-color: #f9fbfb;
}
.content{
    width: 94%;
    margin: auto;
}

.list{
    background-repeat: no-repeat;
    height: 350px;
    background-size: cover;
    background-position: center;
    margin: 15px 0;
    position: relative;
}
.list a{
    color: #f1f1f1;
}
.list a:hover{
    color: yellow;
    text-decoration: none;
}
.m-left{
    margin-left: -15px;
}
.m-top-sub{
    margin-top: -15px;
}
.title-wrap {
    color: white;
    position: absolute;
    top: 22px;
    right: 20px;
    left: 20px;
    pointer-events: none;

}
.title-wrap span {
    display: block;
    margin-bottom: 5px;
    font-size: 21px;
}
.preview{
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: #fff;
    font-size: 26px;
}
.play-icon{
    margin-left: 8px;
    margin-right: 20px;
}
.play-icon:hover{
    color: crimson;
}
.view-pr:hover{
    color: yellow;
}
.list:hover .content-overlay{
    opacity: 0.6;
}
.list:hover .preview {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content .content-overlay {
    background: rgba(0,0,0,0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.fadeIn-bottom{
    top: 80%;
}
/* Start Menu */
.nav-item .menu-add-new{
    display: none;
}
.header-wrapper {
    z-index: 9;
}


.is-fixed {
    position: fixed !important;
    top: -30px;
    margin: auto;
    width: 94%;
    z-index: 100;
    border-color: rgba(0, 0, 0, .1);
    background-color: #f9fbfb;
    transition: all 0.3s ease-in 0s;
}


/* header */



.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

}

.header li a {
    display: block;
    padding: 20px 0 20px 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #b4c6c4;
}

.header li a:hover,
.header .menu-btn:hover {
    color: #2a6172;
}

.logo {
    display: block;
    float: left;
    width: 100px;
    font-size: 2em;
    text-decoration: none;
}
.logo img{
    width: 100px;
}
/* menu */

.header {
    background-color: #f9fbfb;
    margin-top: 100vh;
    position: relative;
    z-index: 200;

}
.header .menu {
    clear: both;
    max-height: 100%;
    margin-top: 40px;
    transition: max-height .2s ease-out;
}
.header .row-header{
    width: 94%;
    margin: auto;
}
.menu .active a{
    color: #2a6172;
}
/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}
/*Modal*/
.modal-lg, .modal-xl {
    max-width: 70% !important;
}
.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}


.modal-body {
    position:relative;
    padding:0px;
}
.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
}

/*landing*/
.landing {
    min-height: 400px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.video-wrapper {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.landing .video-wrapper video {
    min-height: 100%;
    width: auto;
}
.video-wrapper video, .video-wrapper iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.landing .entry {
    padding: 125px 40px 123px;
}
.landing .content-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;
    font-size: 16px;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
article{
    will-change: transform, opacity, top;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s, top 0.4s;
    transition: transform 0.4s, opacity 0.4s, top 0.4s;
}
.landing .meta {
    position: absolute;
    height: 100px;
    bottom: 0;
    right: 0;
    left: 0;
}
.landing .entry h2 {
    line-height: 1.3;
    font-size: 48px;
}
.landing .meta ul {
    list-style-type: none;
    font-size: 18px;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.landing .meta ul li {
    min-width: 100px;
    margin: 0 18px;
}
.landing .meta a{
    color: #ffffff;
}
.banner-icon{
    display: flex;
    justify-content: center;
}
.landing .arrow-down {
    display: inline-block;
    padding: 20px 20px 35px;
    position: absolute;
    width: 52px;
    top:20px;
    -webkit-animation: vert-bounce 2s infinite;
    animation: vert-bounce 2s infinite;
}
/* Keyframes */
@-webkit-keyframes vert-bounce {
    0% {
        bottom: 0;
        -webkit-transform: scale(1, 1);
        -webkit-transform-origin: bottom;
    }
    10% {
        bottom: 10px;
        -webkit-transform: scale(1.2, 0.8);
    }
    30% {
        bottom: -30px;
        -webkit-transform: scale(0.8, 1.2);
        -webkit-animation-timing-function: ease-in;
    }
    45% {
        bottom: 0;
        -webkit-animation-timing-function: ease-out;
        -webkit-transform: scale(0.9, 1.1);
    }
    50% {
        -webkit-transform: scale(1.15, 0.85);
    }
    60% {
        -webkit-transform: scale(1, 1);
    }
    100% {
        bottom: 0;
    }
}
.footer{
    text-align: center;
    padding: 20px 0;

}

.footer i{
    font-size: 22px;
    background: rgb(215, 226, 225);
    color: #2a6172;
    padding-top: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.footer i:hover{
    color: rgb(215, 226, 225);
    background: #2a6172;
}



.stage {
    position: fixed;
    top: 90px;
    right: 70px;
    bottom: 100px;
    left: 70px;
    max-width: 1400px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.stage .video-wrap, .stage .video-wrap iframe {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}
.work-detail .meta-wrap {
    margin: auto;
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 30px;
    left: 0;
    max-width: 1540px;
    padding: 0 70px;
    box-sizing: border-box;
}
.work-detail .meta {
    font-size: 14px;
    color: #2a6172;
    line-height: 1.4;
    left: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.work-detail .title-wrap {
    top: unset;
    right: unset;
    left: 20px;
    pointer-events: none;
}

.work-detail .credits-wrap {
    color: white;
    position: absolute;
    right: 60px;
}
.work-detail .credits-wrap .label {
    opacity: 0.5;
    color: #ffffff;
}
.campaign-arrow{
    -webkit-animation: vert-bounce 2s infinite;
    animation: vert-bounce 2s infinite;
    cursor: pointer;
}
.header-detail{
    position: relative;
    z-index: 100;
    background-color: transparent ;
}
.detail-content{
    margin-top: 100vh;
}
.header-detail li {
    float: left;
}
.header-detail li a {
    display: block;
    padding: 20px 0 20px 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #b4c6c4;
}
.header-detail .menu {
    clear: none;
    float: right;
    max-height: none;
    list-style: none;

    margin-bottom:0;
}
.header-detail  #header-wrapper{
    position: fixed !important;
    top: 20px;
    margin: auto;
    width: 100%;
    z-index: 100;
    border-color: rgba(0, 0, 0, .1);
    background-color: #45a8bf;
    transition: all 0.3s ease-in 0s;

}
.header-detail .row-header{
    width: 100%;
    margin: auto;
    padding: 0 66px;
    max-width: 1500px;
}
.header-detail .menu .active a{
    color: white;
}
.detail-content{
    padding: 40px 100px;
    line-height: 1.5;
    font-size: 16px;
    color: #2a6172;

}

.campaign-body .entry > * {
    margin: 60px auto;
}
.credits-section{
    background: #2d6171;
    position: relative;

}
.detail-content .button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    color: #fff;
    background: #2d6171;
    font-size: 16px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    height: 30px;
    cursor: pointer;
    transition: background 0.4s, clip-path 0.2s 0.3s, opacity 0.3s;
    clip-path: inset(0);
}
.credits-section .credits-content {
    color: #fff;
    text-align: left;
    display: none;
}
.credits-section .inner-wrap {

    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.credits-section .inner-wrap > div {
    max-width: 50%;
    margin-left: 100px;
}
.credits-list{
    list-style: none;
}
.credits-section .credits-content .line-1 {
    opacity: 0.6;
}
.credits-section .credits-content li {
    font-size: 14px;
}
.credits-section .credits-content .label {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
}
.credits-section .close_credit  {
    position: absolute;
    left: 49%;
    padding-left: 10px;
    width: 40px;
    background-color:transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    display: none;


}
.credits-section .close:hover{
    background-color: #555555;
}

.contact-content {
    display: flex;
    justify-content: space-between;
}
.contact-left{
    width: 40%;
    background-color: #95BB45;

}
.contact-right{
    width: 60%;
}
.head-address {
    width: 90%;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    position: relative;
}
.address-2 {
    width: 45%;
}
.p-1 {
    padding: .25rem!important;
}
.w-100 {
    width: 100%!important;
}
.icon-footer p span {
    padding-right: 10px;
}
.left-content{
    width: 90%;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    position: relative;
    padding: 0 10%;
    color: white;
}

.gallery {
    display: flex;

    flex-wrap: wrap;

}

.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 24rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.gallery-image:hover {
    transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling.

*/

@supports (display: grid) {
    .gallery {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery{
        margin-top: 30px;
    }
    .gallery-item {
        margin: 0;

    }
}
.introduce{
    padding-top: 20px;
    font-size: 16px;
    color: #2a6172;
    line-height: 1.6;
    max-width: 600px;
    margin: auto;
}
.contact form {
    background-color: #45a8bf;
    margin-top: 40px;
    padding: 70px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}
.work-block .svg, .filename, .view-mark, .expand-arrows {
    will-change: opacity, transform;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, transform 0.4s;
}
.contact form h1 {
    margin-bottom: 50px;
}
.contact form .field:nth-child(odd) {
    margin-right: 140px;
}
.contact form .field {
    width: calc(50% - 70px);
}
.contact .main-fields {
    text-align: left;
    max-width: 830px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.contact .buttons {
    margin: 30px 0;
    position: relative;
}
.contact form input, .contact form textarea {
    margin-bottom: 20px;
    width: 100%;
    font-family: 'GT Walsheim', Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    box-sizing: border-box;
    color: #45a8bf;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    letter-spacing: 0.5px;
}

.custom-upload {
    background-color: #ffffff;
    display: inline;
    color: #45a8bf;
    width: initial;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    cursor: pointer;
}
.custom-upload input {
    left: -9999px;
    position: absolute;
}

.custom-upload:hover{
    background-color: #45a8bf;
    color: #ffffff;
    border: 1px solid;
}
.file-show{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.file-select-name{
    border: 2px solid #23869c;
    padding: 5px 20px;
}



.reel-grid {
    right:0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.reel-item{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    right:0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.reel-grid a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.reel-item li{
    font-size: 42px;
    padding: 20px;
}
.house:hover span{
    color: #222d32;
}

.reel-grid a:hover{
    text-decoration: none;
}

.color-active{
    display: none;
    padding: 20px;


}
.color-active a{
    cursor: pointer;

}
.span1:hover a span{
    color: red !important;
}
.modal {
    background: rgba(0, 0, 0, 0.8);
}
.modal-lg {
    max-width: 70% !important;
    margin-top: 100px;
}
.modal-footer{
    border: unset !important;
    background: transparent;
}
.modal-footer{
    width: 86%;
}
.ytb-close {
    background: #f1f1f1;
    font-size: 18px;
    padding-top: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}
.search{
    font-size: 16px;
    margin-top: 20px;
    position: absolute;
    right: 26px;
}
.menu input{
    margin-top: 14px;
    min-width: 230px;
    padding: 6px;
    margin-left: 40px;
    border-radius: 25px;
    border: 1px solid #b4c6c4;
}
.menu i{
    color: #b4c6c4;
}
.menu input:focus{
    outline: none;
}
#auto-list{
    position: fixed;
    color: #222d32;
    font-size: 16px;
    z-index: 800;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    display: inherit;
    right: 0px;

    background: #f9fbfb;

}
#auto-list a{
    padding: 2px 15px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 600px;
    text-overflow: ellipsis;
    cursor: pointer;
    color: black;
    font-weight: 400;
}
#auto-list a:hover{
    background: rgba(0, 0, 0, 0.4);
}
@media (min-width: 1800px){
    .list {
        height: 550px;
    }

}
