
@media only screen and (max-width: 992px) {


    .landing .entry h2 {
        font-size: 20px;
        line-height: 1.3;
    }
}

@media only screen and (max-width: 676px) {
    .row{
        margin: 0;
    }
    .is-fixed{
        top: 0;
        width: 100%;
        left: 0;
        background: transparent;
    }
    .logo{
        width: 100px;
    }
    .menu{
        background: #f9fbfb ;
        margin-top: 0 !important;
    }
    #top_navbar{
        top: 55px;
        display: none;
    }
    .row-header{
        width: 100%;
    }
    .row-header .navbar {
        height: 55px;
    }
    .menu-header img{
        margin-left: 20%;
        top: 3px;
        position: absolute;
        width: 65px;
    }
    #top_navbar .navbar-toggler{
        padding-left: 0;
    }
    .icon-logo{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        background: white;

    }
    .logo-menu{
        display: flex;
        justify-items: center;
        width: 100%;
    }


    .row-header .navbar {
        height: 70px;
    }

    #nav-icon1{
        width: 30px;
        height: 25px;
        padding: 1em;
        padding-bottom: 0em;
        margin-right: 0.5em;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

    }
    .btn:focus {
        outline: 0;
        box-shadow: none !important;
    }
    #nav-icon1 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #9c3328;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon1 span:nth-child(1) {
        top: -2px;
    }

    #nav-icon1 span:nth-child(2) {
        top: 6px;
    }

    #nav-icon1 span:nth-child(3) {
        top: 14px;
    }

    #nav-icon1.open span:nth-child(1) {
        top: 9px;
        right: 5px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    #nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    #nav-icon1.open span:nth-child(3) {
        top: 9px;
        right: 5px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    .menu-mobile{
        padding-right: 0 !important;
        background: #f1f1f1;
    }
    .menu-mobile span i::before{
        display: none;
    }
    .menu-mobile .nav-link{
        padding: 0;
    }
    .menu-mobile .dropdown-menu, .menu-mobile .dropdown-menu .dropdown-item{
        padding: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        font-weight: 600;
    }
    #top_navbar {
        position: relative;
        left: 0;
        top: 0;
        z-index: 21;
    }
    #top_navbar{
        padding: 0;
    }
    .menu-mobile .dropdown-menu{
        background: #f1f1f1;
        padding-left: 20px;
        border: none;
    }
    .menu-mobile .nav-item{
        border-bottom: 0;
    }
    .menu-overlay{
        display: block;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
    }
    .dropdown-menu .dropdown-item:before{
        content: " - ";
        font-size: 15px;
        color: #000;
        font-weight: bold;
    }
    .content{
        width: 100% !important;
    }
    /*Modal*/
    .modal-lg, .modal-xl {
        max-width: 100% !important;
    }

     form h1 {

         font-size: 18px;
    }
    .contact form{
        padding: 20px 15px;
    }
    .contact form .field:nth-child(odd){
        margin-right:0;
    }
    .contact form .field{
        width: 100%;
    }
    .contact-content{
        flex-direction: column;
    }
    .contact-left, .contact-right{
        width: 100%;
    }
 .contact-right{
        order: 1;
    }
   .contact-left{
        order: 2;
    }
    .left-content{
        width: 100%;
         top: 10px;
         transform:unset;
    }



    .header-detail #header-wrapper{
        top: 0;
    }
    .header-detail .row-header{
        padding: 0;
    }
    .header-detail .icon-logo,.header-detail #header-wrapper{
        background: transparent;
    }
    .header-detail li{
        float: none;
    }
    .header-detail .menu{
        width: 100%;
    }
    .header-detail li a{
        color: #2a6172;
    }
    .header-detail .menu .active a{
        color: #0c0c0c;
    }

    .stage{
      right: 0;
        left: 0;
        top: 46px;
        bottom: 20px;
    }
    .detail-content{
        padding: 0;
        padding-bottom: 40px;
    }
    .credits-section .inner-wrap > div{
        margin-left: 0;
    }
    .color{
        display: none;
    }
    .color-active{
        display: block !important;
    }
    .menu input{
        margin-bottom: 20px;
        width: 80%;
    }
    .search{
        right: 40px;
    }
    #auto-list {
        left: -15px;
        right: -12px;
    }
    #auto-list a{
        white-space: unset;
    }
}
